* {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #747704;
}

.text-top {
	min-width: 50%;
}

.main {
	margin: 0 auto;
	max-width: 1200px;
	width: calc(98% - 20px);
}

.row-top {
	height: calc(24% - 20px);
	max-height: 200px;
	border-bottom: 3px solid #bcbbbb;
	border-bottom-width: 3px;
	font-weight: 300;
	display: flex;
}

.title-logo {
	margin-top: 20px;
	margin-bottom: 20px;
	height: calc(95% - 20px);
	width: calc(95% - 20px);
	max-height: 150px;
	max-width: 150px;
}

h1 {
	font-size: 5em;
	font-weight: 100;
}

h3 {
	font-size: 2.5em;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 10px;
}

.text-right-upper {
	text-transform: uppercase;
	text-align: right;
	max-height: 150px;
	padding-top: 1em;
}

.text-muted {
	color: #bcbbbb;
	font-weight: 400;
	font-size: 2.8em;
	padding-top: 20px;
	padding-bottom: 10px;
}

.text-thin {
	font-weight: 100;
}

.map-title {
	margin: 0;
	text-align: center;
	color: #bcbbbb;
	font-style: italic;
}

.map-where-ive-lived {
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
}

.proj-pics {
	display: inline-flex;
}

@media (max-width: 480px) {
	.text-muted {
		font-size: 1.5em;
		padding-top: 0;
		padding-bottom: 0;
	}

	h1 {
		font-size: 2em;
	}

	h3 {
		font-size: 1em;
		margin-top: 0;
		margin-bottom: 5px;
	}

	.title-logo {
		max-width: 100px;
		max-height: 100px;
	}
}

@media (min-width: 481px) and (max-width: 650px) {
	.text-muted {
		font-size: 2em;
		padding-top: 0;
		padding-bottom: 5px;
	}

	h1 {
		font-size: 3em;
	}

	h3 {
		font-size: 1.4em;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.title-logo {
		max-width: 125px;
		max-height: 125px;
	}
}

@media (min-width: 651px) and (max-width: 1060px) {
	.text-right-upper {
		text-transform: uppercase;
		max-height: 150px;
		padding-top: 0.5em;
	}

	.text-muted {
		font-size: 2.5em;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	h1 {
		font-size: 4em;
	}

	h3 {
		font-size: 2em;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

@media (min-width: 1061px) and (max-width: 1200px) {
	.text-right-upper {
		text-transform: uppercase;
		max-height: 150px;
		padding-top: 1em;
	}

	h1 {
		font-size: 4.3em;
	}

	h3 {
		font-size: 2.8em;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

@media (min-width: 1201px) {
	.text-right-upper {
		min-height: 190px;
	}
}